.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
  transition: all 0.2s linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}
